@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

body[epub|type~="bodymatter z3998:non-fiction"] section{
	page-break-after: always;
}

.signature{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}
